@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$font-family-main: "Rubik";
$font-family-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

$color-text: whitesmoke;

:root {
  --clr-card-social: hsl(264, 64%, 52%);
  --clr-profile-blue: hsl(246, 80%, 60%);
  --clr-card-play: hsl(195, 74%, 62%);
  --clr-card-self-care: hsl(43, 84%, 65%);
  --clr-card-work: hsl(15, 100%, 70%);
  --clr-card-study: hsl(348, 100%, 68%);
  --clr-card-exercise: hsl(145, 58%, 55%);

  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);
}

body {
  font-family: $font-family-main, $font-family-fallback;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-very-dark-blue);
  color: $color-text;
}
