@use "breakpoints" as bp;

.clr-pale-blue {
  color: hsl(236, 100%, 87%);
}
.base-dark-blue {
  background-color: hsl(235, 46%, 20%);
}
.profile-blue {
  background-color: hsl(246, 80%, 60%);
}
.profile-desaturated-blue {
  color: hsl(235, 45%, 61%);
}
.tracking-work {
  background-color: hsl(15, 100%, 70%);
}
.tracking-play {
  background-color: hsl(195, 74%, 62%);
}
.tracking-study {
  background-color: hsl(348, 100%, 68%);
}
.tracking-exercise {
  background-color: hsl(145, 58%, 55%);
}
.tracking-social {
  background-color: hsl(264, 64%, 52%);
}
.tracking-self-care {
  background-color: hsl(43, 84%, 65%);
}

.card-wrapper {
  $card-inline-size: 16rem;
  inline-size: min(calc(100% - 2 * 1rem), $card-inline-size);
  position: relative;
}

.card-wrapper {
  margin-block-end: 2rem;
}

.card-wrapper:last-of-type {
  margin-block-end: 0rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.duration {
  font-size: 1.75rem;
  font-weight: 300;
}

.datetime {
  font-size: 0.75rem;
}

@media screen and (min-width: bp.$tablet) {
  .column-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    padding-block-end: 0.5rem;
  }

  .duration {
    font-size: 2.5rem;
  }

  .card-wrapper {
    margin-block-end: 0rem;
  }
}
