@use "breakpoints" as bp;
@use "colors" as clr;

.tracking-work {
  background-color: hsl(15, 100%, 70%) !important;
}
.tracking-play {
  background-color: hsl(195, 74%, 62%) !important;
}
.tracking-study {
  background-color: hsl(348, 100%, 68%) !important;
}
.tracking-exercise {
  background-color: hsl(145, 58%, 55%) !important;
}
.tracking-social {
  background-color: hsl(264, 64%, 52%) !important;
}
.tracking-self-care {
  background-color: hsl(43, 84%, 65%) !important;
}

.card-wrapper {
  $card-inline-size: 16rem;
  inline-size: min(calc(100% - 2 * 1rem), $card-inline-size);
  position: relative;
}

.card-wrapper {
  margin-block-end: 2rem;
}

.card-wrapper:last-of-type {
  margin-block-end: 0rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.duration {
  font-size: 1.75rem;
  font-weight: 300;
}

.datetime {
  font-size: 0.75rem;
  color: clr.$pale-blue;
}

@media screen and (min-width: bp.$tablet) {
  .column-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    padding-block-end: 0.5rem;
  }

  .duration {
    font-size: 2.5rem;
  }

  .card-wrapper {
    margin-block-end: 0rem;
  }
}
