.card-wrapper {
  --card-inline-size: 18rem;
  inline-size: min(calc(100% - 2 * 1rem), var(--card-inline-size));
  position: relative;
  /* margin is needed to prevent card collaping because of absolute positioned svg */
  margin-block-start: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.duration {
  font-size: 1.75rem;
  font-weight: 300;
}

.datetime {
  color: var(--clr-pale-blue);
  font-size: 0.75rem;
}
